<h1>Convert <%= @the_symbol %></h1>
<p>Choose a currency to convert from <%= @the_symbol %>:</p>
<ul>
  <% @currencies.keys.each do |symbol| %>
    <li>
      <a href="/<%= @the_symbol %>/<%= symbol %>">Convert 1 <%= @the_symbol %> to <%= symbol %>...</a>
    </li>
  <% end %>
</ul>
<p><a href="/">Back</a></p>
